In [80]:
%reset -fs

In [81]:

import pandas as pd
import numpy as np

In [82]:
df_en = pd.read_csv('eu_tweets_english.csv')

/var/folders/gc/kgfpjt4x1d5c1thdk2sl_2hr0000gn/T/ipykernel_15836/1700156901.py:1: DtypeWarning: Columns (0,1,2,3,4,7,9,10,11,13,15,16,17,18,19,21,26,27,28,30) have mixed types. Specify dtype option on import or set low_memory=False.
  df_en = pd.read_csv('eu_tweets_english.csv')

In [83]:
df_en.shape

(4009626, 31)

In [84]:
df_en.columns

Index(['Unnamed: 0', 'created_at', 'hashtags', 'media', 'urls',
       'favorite_count', 'id', 'in_reply_to_screen_name',
       'in_reply_to_status_id', 'in_reply_to_user_id', 'lang', 'place',
       'quote_id', 'retweet_count', 'retweet_id', 'retweet_screen_name',
       'source', 'text', 'tweet_url', 'user_created_at', 'user_id',
       'user_description', 'user_favourites_count', 'user_followers_count',
       'user_friends_count', 'user_listed_count', 'user_location', 'user_name',
       'user_screen_name', 'user_statuses_count', 'user_verified'],
      dtype='object')

In [85]:
df_en.drop(['Unnamed: 0','media', 'urls','quote_id',
            'source', 'tweet_url'], axis=1, inplace=True)

In [86]:
df_en['id'].head()

0    8.662391e+17
1    8.662327e+17
2    8.662368e+17
3    8.662369e+17
4    8.662337e+17
Name: id, dtype: float64

In [87]:
df_en['id'].isnull().sum()

56209

In [88]:
df_en[df_en['text'].isnull()]['id']

3329        19411.0
6211            NaN
6212         1623.0
8413            NaN
8414        21157.0
             ...
3164434      6400.0
3178106    149386.0
3196901     71439.0
3563772     42838.0
3833856     76541.0
Name: id, Length: 56326, dtype: float64

In [89]:
rows_to_drop_index = df_en[df_en['text'].isnull()].index

In [90]:
df_en.drop(rows_to_drop_index, inplace=True)

In [91]:
print(df_en['id'].isnull().sum())
print(df_en['text'].isnull().sum())

0
0

In [92]:
df_en.shape

(3953300, 25)

In [93]:
# df_en.reset_index(drop=True, inplace=True)

In [94]:
df_en.duplicated().sum()

117536

In [95]:
df_dups_id = df_en[df_en.duplicated(subset='id')]
df_dups_id

,created_at,hashtags,favorite_count,id,in_reply_to_screen_name,in_reply_to_status_id,in_reply_to_user_id,lang,place,retweet_count,...,user_description,user_favourites_count,user_followers_count,user_friends_count,user_listed_count,user_location,user_name,user_screen_name,user_statuses_count,user_verified
5078,Sat May 27 07:10:49 +0000 2017,Harborough Oadby,0.0,8.683638e+17,NaN,NaN,NaN,en,NaN,7,...,Former MEP for the East Midlands (1999/2017).,660.0,24293.0,94.0,555.0,Brussels & East Midlands,Roger Helmer,RogerHelmerMEP,62148.0,True
75439,Sun Jul 16 08:42:28 +0000 2017,NaN,0.0,8.865063e+17,NaN,NaN,NaN,en,NaN,51,...,Labour MP for Worsley & Eccles South. Shadow M...,15632.0,27235.0,1388.0,672.0,NaN,Barbara Keeley ðŸ’™ ðŸ˜·ðŸ‡ºðŸ‡¦,KeeleyMP,54967.0,True
264667,Tue Oct 10 09:10:30 +0000 2017,KirstyMaxwell Benidorm Spain,0.0,9.176787e+17,NaN,NaN,NaN,en,NaN,15,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
264668,Tue Oct 10 09:10:30 +0000 2017,KirstyMaxwell Benidorm Spain,0.0,9.176787e+17,NaN,NaN,NaN,en,NaN,15,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
264669,Tue Oct 10 09:10:30 +0000 2017,KirstyMaxwell Benidorm Spain,0.0,9.176787e+17,NaN,NaN,NaN,en,NaN,15,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3906518,Fri Mar 15 15:29:55 +0000 2019,NaN,0.0,1.106578e+18,NaN,NaN,NaN,en,NaN,400,...,Shadow Minister for Defence. ...,20727.0,25385.0,6650.0,380.0,"Melbourne, Victoria",Brendan O'Connor,BOConnorMP,14206.0,True
3916248,Wed Mar 20 15:05:49 +0000 2019,NaN,0.0,1.108384e+18,NaN,NaN,NaN,en,NaN,124,...,Candidata a PR 2021.Deputada PS @ Parlamento E...,31531.0,157840.0,2201.0,576.0,"Lisboa, Portugal",Ana Gomes,AnaMartinsGomes,100817.0,True
3973169,Thu Apr 18 20:48:05 +0000 2019,Malta,0.0,1.118980e+18,NaN,NaN,NaN,en,NaN,32,...,Candidata a PR 2021.Deputada PS @ Parlamento E...,31531.0,157839.0,2201.0,576.0,"Lisboa, Portugal",Ana Gomes,AnaMartinsGomes,100817.0,True
3992893,Tue Apr 30 09:39:50 +0000 2019,NaN,0.0,1.123160e+18,NaN,NaN,NaN,en,NaN,124,...,"Hammer, Blues, Jazz, Bridge. Rotarian. Interna...",59856.0,41600.0,1456.0,723.0,"Ilford, Essex, UK",Mike Gapes âš’ðŸ‡ºðŸ‡¦ðŸ‡¬ðŸ‡§,MikeGapes,93625.0,True
3993914,Tue Apr 30 17:23:14 +0000 2019,NaN,0.0,1.123277e+18,NaN,NaN,NaN,en,NaN,4442,...,Labour MP for Ellesmere Port & Neston. Shadow ...,9919.0,30419.0,1018.0,453.0,Ellesmere Port & Neston,Justin Madders MP,justinmadders,25503.0,True

In [96]:
df_en.drop_duplicates(subset='id', inplace=True, ignore_index=True)

In [97]:
df_en.duplicated(subset='id').sum()

0

In [98]:
df_en.shape

(3835711, 25)

In [99]:
df_en.duplicated(subset=['text']).sum()

646207

In [100]:
df_dups_text = df_en[df_en.duplicated(subset='text')]

In [101]:
df_dups_text.sort_values(by=['text']).text

2370748    !  Macron ends his speech in English: â€œMake ou...
2370993    !  Macron ends his speech in English: â€œMake ou...
20895      ! @senatorwicker &amp; @sengillibrand introduc...
1611001    !! #5G networks and extends consumer protectio...
3523679    !! Yet again Health Secretaryâ€™s rhetoric on pr...
                                 ...
2078227    ðŸ§µTHREAD ðŸ‘‡\n\nThereâ€™s a secret horror lurking i...
2078445    ðŸ§µTHREAD ðŸ‘‡\n\nThereâ€™s a secret horror lurking i...
2085255    ðŸ§µTHREAD ðŸ‘‡\n\nThereâ€™s a secret horror lurking i...
2085169    ðŸ§µTHREAD ðŸ‘‡\n\nThereâ€™s a secret horror lurking i...
2078255    ðŸ§µTHREAD ðŸ‘‡\n\nThereâ€™s a secret horror lurking i...
Name: text, Length: 646207, dtype: object

In [102]:
df_en.drop_duplicates(subset='text', inplace=True, ignore_index=True)

In [103]:
df_en.shape

(3189504, 25)

In [104]:
df_en['id'] = df_en['id'].astype('int')

In [105]:
df_en['id']

0           866239077045207040
1           866232717196840960
2           866236815463862272
3           866236868404314112
4           866233710714257408
                  ...
3189499    1125114865423613952
3189500    1124728667555467264
3189501    1124391243885289472
3189502    1124682517389426688
3189503    1124668256990707712
Name: id, Length: 3189504, dtype: int64

In [106]:
df_en.columns

Index(['created_at', 'hashtags', 'favorite_count', 'id',
       'in_reply_to_screen_name', 'in_reply_to_status_id',
       'in_reply_to_user_id', 'lang', 'place', 'retweet_count', 'retweet_id',
       'retweet_screen_name', 'text', 'user_created_at', 'user_id',
       'user_description', 'user_favourites_count', 'user_followers_count',
       'user_friends_count', 'user_listed_count', 'user_location', 'user_name',
       'user_screen_name', 'user_statuses_count', 'user_verified'],
      dtype='object')

In [107]:
df_en.head()

,created_at,hashtags,favorite_count,id,in_reply_to_screen_name,in_reply_to_status_id,in_reply_to_user_id,lang,place,retweet_count,...,user_description,user_favourites_count,user_followers_count,user_friends_count,user_listed_count,user_location,user_name,user_screen_name,user_statuses_count,user_verified
0,Sun May 21 10:27:44 +0000 2017,NaN,0.0,866239077045207040,NaN,NaN,NaN,en,NaN,23,...,Molly Scott Cato ðŸ‘‹ Green Party External Comms ...,27154.0,59652.0,1965.0,854.0,South West,GreenðŸ’šðŸŒ»Molly,GreenPartyMolly,69671.0,False
1,Sun May 21 10:02:28 +0000 2017,Wigston,0.0,866232717196840960,NaN,NaN,NaN,en,NaN,38,...,Former Brexit Party MEP for the SW (2014-19) -...,62208.0,4773.0,6282.0,242.0,Calne,Dr Julia Reid PhD,julia_reid,139670.0,True
2,Sun May 21 10:18:45 +0000 2017,Natura2000Day blueeconomy,0.0,866236815463862272,NaN,NaN,NaN,en,NaN,21,...,Lib Dem. Board of IFAW and Council of Unlock D...,2705.0,32987.0,9121.0,677.0,Oxford,Catherine BearderðŸ‡ªðŸ‡º ðŸ‡ºðŸ‡¦ðŸ‡ºðŸ‡¦ðŸ‡ªðŸ‡ºðŸ”¶,catherinemep,36328.0,True
3,Sun May 21 10:18:57 +0000 2017,NaN,0.0,866236868404314112,NaN,NaN,NaN,en,NaN,6,...,SNP President 2005 - 2020. SNP Member of the E...,21.0,5044.0,398.0,205.0,Scotland,Ian Hudghton,HudghtonSNP,1789.0,False
4,Sun May 21 10:06:25 +0000 2017,NaN,1.0,866233710714257408,Cacophonic,8.662318e+17,25067514.0,en,"Oxford, England",0,...,Lib Dem. Board of IFAW and Council of Unlock D...,2705.0,32987.0,9121.0,677.0,Oxford,Catherine BearderðŸ‡ªðŸ‡º ðŸ‡ºðŸ‡¦ðŸ‡ºðŸ‡¦ðŸ‡ªðŸ‡ºðŸ”¶,catherinemep,36328.0,True

In [108]:
df_en.columns

Index(['created_at', 'hashtags', 'favorite_count', 'id',
       'in_reply_to_screen_name', 'in_reply_to_status_id',
       'in_reply_to_user_id', 'lang', 'place', 'retweet_count', 'retweet_id',
       'retweet_screen_name', 'text', 'user_created_at', 'user_id',
       'user_description', 'user_favourites_count', 'user_followers_count',
       'user_friends_count', 'user_listed_count', 'user_location', 'user_name',
       'user_screen_name', 'user_statuses_count', 'user_verified'],
      dtype='object')

In [109]:
df_en = df_en[[ 'id','created_at', 'text', 'user_name','user_screen_name', 'user_id', 
            'user_description','user_location','user_verified','lang', 'place',
            'hashtags',
            'favorite_count', 
            'in_reply_to_screen_name', 'in_reply_to_status_id',
            'in_reply_to_user_id', 
            'retweet_count', 'retweet_id','retweet_screen_name', 'user_created_at',
            'user_favourites_count', 'user_followers_count', 
            'user_friends_count', 'user_listed_count', 
             'user_statuses_count' ]]

In [110]:
df_en.head()

,id,created_at,text,user_name,user_screen_name,user_id,user_description,user_location,user_verified,lang,...,in_reply_to_user_id,retweet_count,retweet_id,retweet_screen_name,user_created_at,user_favourites_count,user_followers_count,user_friends_count,user_listed_count,user_statuses_count
0,866239077045207040,Sun May 21 10:27:44 +0000 2017,Pounding the streets of Redland this morning w...,GreenðŸ’šðŸŒ»Molly,GreenPartyMolly,726372601.0,Molly Scott Cato ðŸ‘‹ Green Party External Comms ...,South West,False,en,...,NaN,23,8.662375e+17,bristol_yg,Mon Jul 30 16:21:34 +0000 2012,27154.0,59652.0,1965.0,854.0,69671.0
1,866232717196840960,Sun May 21 10:02:28 +0000 2017,The UKIP BATTLE BUS is coming; please support ...,Dr Julia Reid PhD,julia_reid,43554444.0,Former Brexit Party MEP for the SW (2014-19) -...,Calne,True,en,...,NaN,38,8.662321e+17,DrTeckKhong,Sat May 30 16:46:20 +0000 2009,62208.0,4773.0,6282.0,242.0,139670.0
2,866236815463862272,Sun May 21 10:18:45 +0000 2017,"Yesterday was 10th European Maritime Day, toda...",Catherine BearderðŸ‡ªðŸ‡º ðŸ‡ºðŸ‡¦ðŸ‡ºðŸ‡¦ðŸ‡ªðŸ‡ºðŸ”¶,catherinemep,454779231.0,Lib Dem. Board of IFAW and Council of Unlock D...,Oxford,True,en,...,NaN,21,8.662204e+17,EU_MARE,Wed Jan 04 11:13:08 +0000 2012,2705.0,32987.0,9121.0,677.0,36328.0
3,866236868404314112,Sun May 21 10:18:57 +0000 2017,.@theSNP Depute Leader and candidate for Moray...,Ian Hudghton,HudghtonSNP,308677137.0,SNP President 2005 - 2020. SNP Member of the E...,Scotland,False,en,...,NaN,6,8.662227e+17,erikgeddes,Tue May 31 20:22:38 +0000 2011,21.0,5044.0,398.0,205.0,1789.0
4,866233710714257408,Sun May 21 10:06:25 +0000 2017,"@Cacophonic That, and fox hunting and dementia...",Catherine BearderðŸ‡ªðŸ‡º ðŸ‡ºðŸ‡¦ðŸ‡ºðŸ‡¦ðŸ‡ªðŸ‡ºðŸ”¶,catherinemep,454779231.0,Lib Dem. Board of IFAW and Council of Unlock D...,Oxford,True,en,...,25067514.0,0,NaN,NaN,Wed Jan 04 11:13:08 +0000 2012,2705.0,32987.0,9121.0,677.0,36328.0

In [111]:
df_en['user_id'] = df_en['user_id'].fillna(0).astype(int)

In [112]:

df_en['user_id'] = df_en['user_id'].astype('int')

In [113]:
df_en.head()

,id,created_at,text,user_name,user_screen_name,user_id,user_description,user_location,user_verified,lang,...,in_reply_to_user_id,retweet_count,retweet_id,retweet_screen_name,user_created_at,user_favourites_count,user_followers_count,user_friends_count,user_listed_count,user_statuses_count
0,866239077045207040,Sun May 21 10:27:44 +0000 2017,Pounding the streets of Redland this morning w...,GreenðŸ’šðŸŒ»Molly,GreenPartyMolly,726372601,Molly Scott Cato ðŸ‘‹ Green Party External Comms ...,South West,False,en,...,NaN,23,8.662375e+17,bristol_yg,Mon Jul 30 16:21:34 +0000 2012,27154.0,59652.0,1965.0,854.0,69671.0
1,866232717196840960,Sun May 21 10:02:28 +0000 2017,The UKIP BATTLE BUS is coming; please support ...,Dr Julia Reid PhD,julia_reid,43554444,Former Brexit Party MEP for the SW (2014-19) -...,Calne,True,en,...,NaN,38,8.662321e+17,DrTeckKhong,Sat May 30 16:46:20 +0000 2009,62208.0,4773.0,6282.0,242.0,139670.0
2,866236815463862272,Sun May 21 10:18:45 +0000 2017,"Yesterday was 10th European Maritime Day, toda...",Catherine BearderðŸ‡ªðŸ‡º ðŸ‡ºðŸ‡¦ðŸ‡ºðŸ‡¦ðŸ‡ªðŸ‡ºðŸ”¶,catherinemep,454779231,Lib Dem. Board of IFAW and Council of Unlock D...,Oxford,True,en,...,NaN,21,8.662204e+17,EU_MARE,Wed Jan 04 11:13:08 +0000 2012,2705.0,32987.0,9121.0,677.0,36328.0
3,866236868404314112,Sun May 21 10:18:57 +0000 2017,.@theSNP Depute Leader and candidate for Moray...,Ian Hudghton,HudghtonSNP,308677137,SNP President 2005 - 2020. SNP Member of the E...,Scotland,False,en,...,NaN,6,8.662227e+17,erikgeddes,Tue May 31 20:22:38 +0000 2011,21.0,5044.0,398.0,205.0,1789.0
4,866233710714257408,Sun May 21 10:06:25 +0000 2017,"@Cacophonic That, and fox hunting and dementia...",Catherine BearderðŸ‡ªðŸ‡º ðŸ‡ºðŸ‡¦ðŸ‡ºðŸ‡¦ðŸ‡ªðŸ‡ºðŸ”¶,catherinemep,454779231,Lib Dem. Board of IFAW and Council of Unlock D...,Oxford,True,en,...,25067514.0,0,NaN,NaN,Wed Jan 04 11:13:08 +0000 2012,2705.0,32987.0,9121.0,677.0,36328.0

In [114]:
df_en.columns

Index(['id', 'created_at', 'text', 'user_name', 'user_screen_name', 'user_id',
       'user_description', 'user_location', 'user_verified', 'lang', 'place',
       'hashtags', 'favorite_count', 'in_reply_to_screen_name',
       'in_reply_to_status_id', 'in_reply_to_user_id', 'retweet_count',
       'retweet_id', 'retweet_screen_name', 'user_created_at',
       'user_favourites_count', 'user_followers_count', 'user_friends_count',
       'user_listed_count', 'user_statuses_count'],
      dtype='object')

In [115]:
df_en.shape

(3189504, 25)

In [116]:
df_en.to_csv('eu_tweet_df_eda1.csv', index=False)

In [117]:
df_en.to_csv('eu_tweet_df_eda1_zip.csv.gz', index=False, compression='gzip')